.container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('https://picsum.photos/id/11/2500/1667');
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.welcomeMessage {
  font-size: 48px;
  font-weight: bold;
  color: #4a8;
  text-align: center;
}

.username {
  color: rgb(0, 0, 255);
}

.userInfo {
  display: flex;
  align-items: center;
  font-size: 24px;
  /* decreased font size */
  font-weight: bold;
  margin-top: 10px;
}

.avatar {
  width: 70px;
  /* increased avatar size */
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.tokens {
  display: flex;
  align-items: center;
  font-size: 32px;
  /* increased font size */
  font-weight: bold;
  margin-bottom: 10px;
}

.tokenIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: #4a8;
}

.tokenCount {
  color: #4a8;
}

.lastCheckin {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.getStartedBtn {
  background-color: #f06;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 30px;
  /* increased button padding */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* added transition effect */
}

.getStartedBtn:hover {
  background-color: #f00;
  /* changed button color on hover */
}

.petRelated {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.petIcon {
  width: 50px;
  height: 50px;
  color: #4a8;
  animation: bounce 1.5s ease-in-out infinite;
  /* added animation effect */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.biomeElement {
  position: absolute;
  /* Customize the size and other styles for biome elements */
}

.biomeElement1 {
  bottom: 20px;
  left: 50px;
}

.biomeElement2 {
  bottom: 30px;
  right: 70px;
}

.aboutLink {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.aboutLink:hover {
  color: #0071ff;
}