name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Install dependencies
      run: yarn

    - name: Build Next.js app
      run: yarn build

    - name: Install and configure Serverless Framework
      run: |
        npm install -g serverless
        npm install -g @serverless/components
        npm install --save @sls-next/lambda-at-edge
        serverless config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: Deploy Next.js app
      run: components deploy --component @sls-next/lambda-at-edge --config serverless.yml
